<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-6 offset-3">
    <form class="validated-form mb-1" method="POST" action="/login" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username: </label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password: </label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <button type="submit" class="btn btn-success">Login</button>
    </form>

    <p>
      <a
        class="link-offset-2 link-underline link-underline-opacity-0"
        href="/register"
        >Don't have an account?</a
      >
    </p>
  </div>
</div>
